<form id="payway-authorize-form" name="payway-authorize-form" method="post"
      action="https://pgw.ht.hr/services/payment/api/authorize-form">
    <input type="hidden" name="pgw_shop_id" value="{{ model.pgwShopId }}"/>
    <input type="hidden" name="pgw_order_id"
                                                                                   value="{{ model.pgwOrderId }}"/>
    <input type="hidden" name="pgw_amount" value="{{ model.pgwAmount }}"/>
    <input type="hidden"
                                                                                  name="pgw_authorization_type"
                                                                                  value="{{ model.pgwAuthorizationType }}"/>
    <input type="hidden" name="pgw_language" value="{{ model.pgwLanguage }}"/>
    <input type="hidden" name="pgw_success_url"
           value="{{ model.pgwSuccessUrl }}"/>
    <input type="hidden" name="pgw_failure_url" value="{{ model.pgwFailureUrl }}"/> <input
            type="hidden" name="pgw_signature"
            value="{{ model.pgwSignature }}"/>
    <button type="submit">Posalji</button>
</form>
