{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    <form method="POST">
        <div>
            {{ form_errors(form.holder) }}
            {{ form_label(form.holder) }}
            {{ form_widget(form.holder) }}
        </div>
        <div>
            {{ form_errors(form.holderSurname) }}
            {{ form_label(form.holderSurname) }}
            {{ form_widget(form.holderSurname) }}
        </div>
        <div>
            {{ form_errors(form.email) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div>
            {{ form_errors(form.address) }}
            {{ form_label(form.address) }}
            {{ form_widget(form.address) }}
        </div>
        <div>
            {{ form_errors(form.city) }}
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
        </div>
        <div>
            {{ form_errors(form.zipCode) }}
            {{ form_label(form.zipCode) }}
            {{ form_widget(form.zipCode) }}
        </div>
        <div>
            {{ form_errors(form.country) }}
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
        </div>
        <div>
            {{ form_errors(form.phoneNumber) }}
            {{ form_label(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber) }}
        </div>
        <div>
            {{ form_errors(form.number) }}
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
        </div>
        <div>
            {{ form_errors(form.securityCode) }}
            {{ form_label(form.securityCode) }}
            {{ form_widget(form.securityCode) }}
        </div>
        <div>
            {{ form_errors(form.expireAt) }}
            {{ form_label(form.expireAt) }}
            {{ form_widget(form.expireAt) }}
        </div>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Pay"/>
    </form>
{% endblock %}

